In [4]:
import pandas as pd

In [5]:
pd.__version__

'2.2.0'

In [72]:
df = pd.read_csv('yellow_tripdata_2019-09.csv')
df

C:\Users\cyn64\AppData\Local\Temp\ipykernel_8068\189462711.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2019-09.csv')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2019-09-01 00:06:48,2019-09-01 00:25:46,1.0,2.00,1.0,N,186,161,2.0,13.00,3.00,0.5,0.0,0.00,0.3,16.80,2.5
1,1.0,2019-09-01 00:29:17,2019-09-01 00:57:54,1.0,5.50,1.0,N,161,256,2.0,22.50,3.00,0.5,0.0,0.00,0.3,26.30,2.5
2,1.0,2019-09-01 00:41:32,2019-09-01 00:41:36,1.0,2.90,1.0,N,145,145,2.0,2.50,0.50,0.5,0.0,0.00,0.3,3.80,0.0
3,1.0,2019-09-01 00:59:11,2019-09-01 00:59:15,1.0,0.00,1.0,N,145,145,2.0,2.50,0.50,0.5,0.0,0.00,0.3,3.80,0.0
4,1.0,2019-09-01 00:39:41,2019-09-01 00:45:06,1.0,1.50,1.0,N,95,93,2.0,7.00,0.50,0.5,0.0,0.00,0.3,8.30,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6567783,NaN,2019-09-30 08:02:00,2019-09-30 08:20:00,NaN,3.11,NaN,NaN,188,225,NaN,26.81,2.75,0.5,0.0,0.00,0.3,30.36,0.0
6567784,NaN,2019-09-30 08:00:00,2019-09-30 08:30:00,NaN,14.34,NaN,NaN,14,141,NaN,40.91,2.75,0.5,0.0,6.12,0.3,50.58,0.0
6567785,NaN,2019-09-30 08:10:10,2019-09-30 08:46:23,NaN,13.16,NaN,NaN,86,76,NaN,54.25,2.75,0.0,0.0,0.00,0.3,57.30,0.0
6567786,NaN,2019-09-30 08:17:00,2019-09-30 08:42:00,NaN,12.66,NaN,NaN,60,134,NaN,37.20,5.50,0.5,0.0,6.12,0.3,49.62,0.0
6567787,NaN,2019-09-30 08:11:00,2019-09-30 08:26:00,NaN,6.77,NaN,NaN,75,78,NaN,29.45,2.75,0.5,0.0,10.00,0.3,43.00,0.0

In [77]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [80]:
# Filter trips that started and finished on September 18th, 2019
df_q3 = df[
    (df['tpep_pickup_datetime'].dt.date ==  pd.to_datetime('2019-09-18').date()) & 
   (df['tpep_dropoff_datetime'].dt.date == pd.to_datetime('2019-09-18').date())
]

In [87]:
df_q3

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
3602672,2.0,2019-09-18 07:35:17,2019-09-18 07:35:55,2.0,0.63,5.0,N,70,264,2.0,54.00,0.00,0.0,0.0,0.00,0.3,54.30,0.0
3602673,2.0,2019-09-18 08:10:48,2019-09-18 08:33:48,1.0,2.14,1.0,N,138,129,2.0,15.50,1.00,0.5,0.0,0.00,0.3,17.30,0.0
3602674,2.0,2019-09-18 08:47:44,2019-09-18 09:04:48,1.0,2.91,1.0,N,138,129,1.0,13.00,1.00,0.5,3.7,0.00,0.3,18.50,0.0
3602675,2.0,2019-09-18 09:14:47,2019-09-18 09:14:49,1.0,0.00,1.0,N,129,264,2.0,2.50,1.00,0.5,0.0,0.00,0.3,4.30,0.0
3602676,2.0,2019-09-18 09:25:04,2019-09-18 09:25:11,1.0,0.00,1.0,N,138,138,2.0,2.50,1.00,0.5,0.0,0.00,0.3,4.30,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6555720,NaN,2019-09-18 17:15:00,2019-09-18 17:43:00,NaN,0.03,NaN,NaN,241,47,NaN,22.71,2.75,0.5,0.0,0.00,0.3,26.26,0.0
6555721,NaN,2019-09-18 17:00:00,2019-09-18 17:35:00,NaN,3.68,NaN,NaN,75,230,NaN,20.68,2.75,0.5,0.0,0.00,0.3,24.23,0.0
6555722,NaN,2019-09-18 17:08:00,2019-09-18 17:57:00,NaN,12.60,NaN,NaN,78,90,NaN,44.93,2.75,0.5,0.0,6.12,0.3,54.60,0.0
6555723,NaN,2019-09-18 17:31:00,2019-09-18 18:23:00,NaN,11.67,NaN,NaN,142,89,NaN,34.47,2.75,0.5,0.0,6.12,0.3,44.14,0.0
6555724,NaN,2019-09-18 17:02:00,2019-09-18 17:17:00,NaN,3.72,NaN,NaN,231,48,NaN,21.41,2.75,0.5,0.0,0.00,0.3,24.96,0.0

In [108]:
dates_q4 = ['2019-09-16','2019-09-18','2019-09-21','2019-09-26']
df_q4 = df[
 df['tpep_pickup_datetime'].dt.date.isin(pd.to_datetime(dates_q4).date)
]

0          2019-09-01
1          2019-09-01
2          2019-09-01
3          2019-09-01
4          2019-09-01
              ...
6567783    2019-09-30
6567784    2019-09-30
6567785    2019-09-30
6567786    2019-09-30
6567787    2019-09-30
Name: tpep_pickup_datetime, Length: 6567788, dtype: object

In [ ]:
max_perday = df_q4.groupby(df['tpep_pickup_datetime'].dt.date)['trip_distance'].max()

In [111]:
df_q5 = df[
    (df['tpep_pickup_datetime'].dt.date ==  pd.to_datetime('2019-09-18').date())]
df_q5 = df_q5.groupby(

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
3602672,2.0,2019-09-18 07:35:17,2019-09-18 07:35:55,2.0,0.63,5.0,N,70,264,2.0,54.00,0.00,0.0,0.0,0.00,0.3,54.30,0.0
3602673,2.0,2019-09-18 08:10:48,2019-09-18 08:33:48,1.0,2.14,1.0,N,138,129,2.0,15.50,1.00,0.5,0.0,0.00,0.3,17.30,0.0
3602674,2.0,2019-09-18 08:47:44,2019-09-18 09:04:48,1.0,2.91,1.0,N,138,129,1.0,13.00,1.00,0.5,3.7,0.00,0.3,18.50,0.0
3602675,2.0,2019-09-18 09:14:47,2019-09-18 09:14:49,1.0,0.00,1.0,N,129,264,2.0,2.50,1.00,0.5,0.0,0.00,0.3,4.30,0.0
3602676,2.0,2019-09-18 09:25:04,2019-09-18 09:25:11,1.0,0.00,1.0,N,138,138,2.0,2.50,1.00,0.5,0.0,0.00,0.3,4.30,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6555720,NaN,2019-09-18 17:15:00,2019-09-18 17:43:00,NaN,0.03,NaN,NaN,241,47,NaN,22.71,2.75,0.5,0.0,0.00,0.3,26.26,0.0
6555721,NaN,2019-09-18 17:00:00,2019-09-18 17:35:00,NaN,3.68,NaN,NaN,75,230,NaN,20.68,2.75,0.5,0.0,0.00,0.3,24.23,0.0
6555722,NaN,2019-09-18 17:08:00,2019-09-18 17:57:00,NaN,12.60,NaN,NaN,78,90,NaN,44.93,2.75,0.5,0.0,6.12,0.3,54.60,0.0
6555723,NaN,2019-09-18 17:31:00,2019-09-18 18:23:00,NaN,11.67,NaN,NaN,142,89,NaN,34.47,2.75,0.5,0.0,6.12,0.3,44.14,0.0
6555724,NaN,2019-09-18 17:02:00,2019-09-18 17:17:00,NaN,3.72,NaN,NaN,231,48,NaN,21.41,2.75,0.5,0.0,0.00,0.3,24.96,0.0

In [ ]:
max_perday

In [34]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
from sqlalchemy import create_engine

In [41]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [20]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [21]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [23]:
df = next(df_iter)

In [25]:
len(df)

100000

In [26]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

In [30]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [31]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Wall time: 10.4 s

In [32]:
from time import time

In [33]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk..., took 16.115 second
inserted another chunk..., took 15.076 second
inserted another chunk..., took 14.321 second
inserted another chunk..., took 17.030 second
inserted another chunk..., took 16.002 second
inserted another chunk..., took 15.990 second
inserted another chunk..., took 16.380 second
inserted another chunk..., took 15.642 second
inserted another chunk..., took 14.489 second
inserted another chunk..., took 14.900 second
inserted another chunk..., took 14.711 second

C:\Users\alexe\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

inserted another chunk..., took 15.301 second
inserted another chunk..., took 9.552 second

StopIteration:

In [35]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-01-15 23:57:02--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.113.61
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.113.61|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100%  910K=0.01s

2022-01-15 23:57:02 (910 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [36]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [38]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [42]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')